# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
# Local MongoDB (default)
MONGODB_URI=mongodb://localhost:27017/finance-db



# JWT Configuration
JWT_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ"
JWT_EXPIRE=7d

# Admin User (Created on first seed)
ADMIN_EMAIL=admin@finance.com
ADMIN_PASSWORD=Admin@123

# CORS Configuration (optional)
# CORS_ORIGIN=http://localhost:3000
CORS_ORIGIN=*
